.section-hero {
  height: 400px;

  padding-top: 118px;
  padding-bottom: 118px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/hero-mobile.jpg);

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.section-hero__heading {
  margin-bottom: 30px;

  color: var(--color-invert);
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 1.56px;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    font-weight: 900;
    line-height: calc(60 / 44);
    letter-spacing: 2.64px;
  }
}
