.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-icon);
  fill: var(--color-icon);
  width: 210px;
  height: 92px;

@media screen and (min-width: 768px){
    width: 226px;
}

@media screen and (min-width: 1200px) {
    width: 170px;
}

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--color-brand);
    border-color: var(--color-brand);
  }
}