// .hero-portfolio__filters {
//   display: flex;
//   justify-content: center;
//   gap: 8px;
//   margin-bottom: 50px;
// }

// // PROJECTS

// .projects-list {
//   display: flex;
//   flex-wrap: wrap;
// }

// .projects-list__item {
//   margin-right: 30px;
//   margin-bottom: 30px;
// }

// .projects-list__link {
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
//       0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
//     .projects-overlay__description {
//       transform: translateY(0);
//     }
//   }
// }

// .projects-list__item:nth-child(3n) {
//   margin-right: 0;
// }

// .projects-list__item:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }

// .projects-list__description {
//   border-left: 1px solid #eeeeee;
//   border-right: 1px solid #eeeeee;
//   border-bottom: 1px solid #eeeeee;
//   padding: 20px 24px;
// }

// .projects-list__company {
//   margin-top: 0;
//   margin-bottom: 4px;
//   text-align: left;

//   font-weight: 700;
//   font-size: 18px;
//   line-height: calc(36 / 18);
//   letter-spacing: 0.06em;
//   color: var(--color-caption);
// }

// .projects-list__type {
//   color: var(--color-primary);
//   font-size: 16px;
//   line-height: calc(30 / 16);
//   margin: 0;
// }

// .projects-overlay {
//   position: relative;
//   overflow: hidden;
// }

// .projects-overlay__description {
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 63px 24px;

//   width: 100%;
//   height: 100%;
//   transform: translateY(100%);
//   background: rgba(33, 150, 243, 0.9);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .projects-overlay__text {
//   font-size: 18px;
//   line-height: calc(28 / 18);
//   letter-spacing: 0.54px;
//   color: var(--color-invert);
// }
