.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 450px;
  }

  @include mq(tablet) {
    width: 738px;
  }

  @include mq(desktop) {
    width: 1170px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
