:root {
  --color-primary: #757575;
  --color-caption: #212121;
  --color-brand: #2196f3;
  --color-action: #188ce8;
  --color-invert: #ffffff;
  --color-invert06: rgba(255, 255, 255, 0.6);
  --color-logo: #000000;
  --color-bg: #2f303a;
  --color-bgc-elements: #f5f4fa;
  --color-header-border: #ececec;
  --color-icon: #afb1b8;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway";
}